/* 중앙 정렬을 위한 컨테이너 스타일링 */
.post-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    max-height: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  /* 게시글 제목 스타일링 */
  .post-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  /* 게시글 내용 스타일링 */
  .post-content {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #555;
    text-align: left;
  }
  
  /* 버튼 컨테이너 스타일링 */
  .post-buttons {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    width: 100%;
    gap: 10px;
  }
  
  /* 버튼 스타일링 */
  .edit-button, .delete-button {
    padding: 8px 12px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  .edit-button {
    background-color: #16ac1b; /* Green */
    color: white;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  
  .delete-button {
    background-color: #c93429bb; /* Red */
    color: white;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  
  /* 게시글을 찾을 수 없는 경우 스타일링 */
  .post-not-found {
    text-align: center;
    font-size: 1.5em;
    color: #f44336;
    margin-top: 50px;
  }
  