table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
th, td {
    padding: 10px 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

thead {
    background-color: #d16908a4;
    color: rgb(255, 255, 255);
  }
  
  
th {
    background-color: #1100006b;
  }


/* 짝수 행 */
tr:nth-child(even) {
    background-color: #e1e2a598;
    color: rgb(0, 0, 0);
    font-weight: 500;

  }
  
/* 홀수 행 */
tr:nth-child(odd) {
    background-color: #e6a10cb2;
    font-weight: 500;
  }
  

tr:hover {
    background-color: hsla(115, 100%, 35%, 0.589);
  }
  
